* {
    --main-color: rgb(0, 0, 0); 
    --second-color: rgb(112, 112, 112); 
    --opacity: 80%;
    color: rgb(255, 255, 255);
}

@font-face {
    font-family: 'MyFont';
    src: url('./Inter-Medium.ttf') format('openType');
    font-weight: 600;
    font-style: normal;
  }

body {
    /* background-image: url('/src/backgroundImg/04d.jpg'); */
    background-size: 100% 100%;
    font-family: MyFont;
}

.backgroundContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(7px);
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    width: 60vw;
    height: 100vh;
}

.searchContainer, .currentWeatherContainer {
    /* border: black solid 1px; */
    display: flex;
    justify-content: center;
    width: 60%;
    /* background-color: var(--main-color); */
    padding: 20px;
}

/* search container */

.searchContainer {
    gap: 10px;
}

#searchForm {
    display: flex;
    gap: 10px;
}

#toggleTempMetric, #locSearchInput, #locSearchBtn {
    color: black;
    font-size: 1.1rem;
    padding: 5px;
}

/* current weather */

.currentWeatherContainer {
    display: flex;
    gap: 10%;
}


.currRightSide {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.currImg {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 20px;
}

/* Forecast */
@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

.forecastContainer {
    display: grid;
    width: clamp(300px, 100%, 800px);
    padding: 20px;
    gap: 10px;
    grid-auto-flow: column;
    grid-auto-columns: 125px;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    /* background-color: var(--main-color); */
}

.forecastItem {
    border: black solid 1px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--second-color);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.weatherIcon {
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 20px;
}


@media (max-width: 600px) {
    * {
        font-size: 13px;
    }

    .mainContainer {

        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
    }
    
    .searchContainer, .currentWeatherContainer {
        justify-content: center;
        width: 100%;
        padding: 20px;
    }

    .forecastContainer {
        width: 100%;
        grid-auto-columns: 80px;
    }

    .currDesc {
        font-size: 16px;
    }
    #location {
        font-size: 15px;
    }
}