.backgroundContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    background-color: rgb(192, 192, 192);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    width: 90vh;
    height: 90vh;
}

.searchContainer, .currentWeatherContainer {
    border: black solid 1px;
    display: flex;
    justify-content: center;
    width: 60%;
    background-color: rgb(242, 245, 248);
    padding: 20px;
}

/* search container */

.searchContainer {
    gap: 10px;
}

/* current weather */

.currentWeatherContainer {
    display: flex;
    gap: 10%;
}


.currRightSide {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.currImg {
    width: 80px;
    height: 80px;
}

/* Forecast */
@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

.forecastContainer {
    display: grid;
    width: 60%;
    padding: 20px;
    gap: var(--size-3);
    grid-auto-flow: column;
    grid-auto-columns: 21%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    background-color: rgb(242, 245, 248);
    border: black solid 1px;
}

.forecastItem {
    border: black solid 1px;
    padding: var(--size-3);
    background: var(--surface-2);
    border-radius: var(--radius-2);
}

.forecastBtnContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(201, 201, 201);
    padding: 5px;
}

.weatherIcon {
    width: 40px;
    height: 40px;
}
